@charset "UTF-8";

#content {
    padding-top: 25px;
}

#landing {
  background-image: url("../images/two-trains.jpg");
  /* Set a specific height */
  height: 600px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pad {
  padding-top: 1em;
}

.center {
  padding-left: auto;
  padding-right: auto;
}

h1 {
    font-size: 5em;
    text-shadow: 2px 2px 8px silver;
}

footer {
    padding-top: 150px;
}
